@model ToDo.Web.Models.Task

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Criar Task</h5>
            <div class="add-items d-flex">
                <div class="add-items d-flex">
                    @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control input-task", placeholder = "Título" } })
                    @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control input-task", placeholder = "Descrição" } })
                    <input type="submit" value="Criar" class="add btn btn-primary font-weight-bold todo-list-add-btn" />
                </div>
            </div>
        <div>
            @Html.ActionLink("Voltar para Lista", "Index")
        </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
